<div class="container">
  <div *ngIf="!basket || basket.items.length === 0">
    <p>you have no items added yet</p>
  </div>

  <div class="pb-5" *ngIf="basket">
    <div class="container">
      <div class="row">
        <div class="col-12 py5 mb-1">
          <app-basket-summary
          (decrement)="decrementItemQuantity($event)"
          (increment)="incrementItemQuantity($event)"
          (remove)="removeBasketItem($event)"
          ></app-basket-summary>

        </div>
      </div>

      <div class="row">
        <div class="col-6 offset-6">
          <app-order-total></app-order-total>
          <button class="btn btn-outline-danger btn-block py-2" routerLink="/checkout" >Proceed to checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
