.btn{
  width: 30%;
  height: 40px;
}

.imag:hover .hover-overlay{
  opacity: 1;

}
.hover-overlay{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;

}
.hover-overlay button{
  z-index: 1000;
  transition: all 0.5s;

}
.imag:hover .hover-overlay button:first-of-type{
  transform: translatex(20px);
}
.imag:hover .hover-overlay button:last-of-type{
  transform: translatex(-20px);
}
